.header {
  padding: 1rem;
  margin: 2rem auto;
  max-width: 40rem;
}

.header ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.header a {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: #8032e0;

  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s;
}

.header a:hover,
.header a.active {
  background-color: #530080;
  color: #fff;
}
